<%= form_for @user, url: wizard_path do |f| %>
<br/>
<div class="container profile-container profile-show">
	<div class="user-type-container">
		<div class="user-type-icon"><%= @user.symbol_user_type %></div>
		<span class="user-type"><%= @user.string_user_type %></span>
	</div>
 
	<div class="container headline-container">
		<div class="avatar-container">
			<%= image_tag(@user.linkedin_image_url, class: 'avatar') %>
		</div>

		<div class="name-container">
			<h1><%= @user.name %></h1>
			<h4><%= @user.linkedin_industry %></h4>
		</div>
	</div>
</div>

<div class="purpose-container">
	<%= f.text_area :purpose,
		placeholder: "In a few words, tell us what you hope to achieve by joining MERL. For example, \"Mentor companies working in the machine learning and artificial intelligence spaces.\"",
		rows: "2"
	%>
</div>

<div class="container profile-row-container">
	<div class="container" data-equalizer>
		<div class="attribute-card-container" data-equalizer-watch>
			<div class="container attribute-header-container">
				<div class="attribute-header-icon-container">
					<i class="ion-settings"></i>
				</div>
				<div class="attribute-header-description-container">
					<h5>Areas of Expertise</h5>
				</div>
			</div>
			<div class="attribute-card">
				<%= f.collection_select :skill_ids, Skill.all, :id, :name, 
						{ include_blank: true },
						{ class: 'chosen-select form-control',  
							"data-placeholder" => 'Choose a few areas in which you would be comfortable advising companies.', 
							multiple: true 
						}
					%>
			</div>
		</div>

		<div class="attribute-card-container" data-equalizer-watch>
			<div class="container attribute-header-container">
				<div class="attribute-header-icon-container">
					<i class="ion-ribbon-b"></i>
				</div>
				<div class="attribute-header-description-container">
					<h5>Professional Achievements</h5>
				</div>
			</div>
			<div class="attribute-card">
				<%= f.collection_select :achievement_ids, Achievement.all, :id, :description, 
					{ include_blank: true },
					{ class: 'chosen-select form-control',  
						"data-placeholder" => 'Tell us how you qualify for the Maryland Entrepreneurs Resource List.', 
						multiple: true 
					}
				%>
			</div>
		</div>

		<div class="attribute-card-container" data-equalizer-watch>
			<div class="container attribute-header-container">
				<div class="attribute-header-icon-container">
					<i class="ion-connection-bars"></i>
				</div>
				<div class="attribute-header-description-container">
					<h5>Level of Commitment</h5>
				</div>
			</div>
			<div class="attribute-card">
				<%= f.collection_select :commitment_ids, Commitment.all, :id, :description, 
					{ include_blank: true },
					{ class: 'chosen-select form-control',  
						"data-placeholder" => 'Tell us what level of commitment you expect to be able to give in the near future.', 
						multiple: true 
					}
				%>
			</div>
		</div>
	</div>
</div>

<div class="container profile-row-container">
	<div class="container" data-equalizer>
		<div class="attribute-card-container" data-equalizer-watch>
			<div class="container attribute-header-container">
				<div class="attribute-header-icon-container">
					<i class="ion-erlenmeyer-flask"></i>
				</div>
				<div class="attribute-header-description-container">
					<h5>Industries</h5>
				</div>
			</div>
			<div class="attribute-card">
				<%= f.collection_select :skill_ids, Skill.all, :id, :name, 
						{ include_blank: true },
						{ class: 'chosen-select form-control',  
							"data-placeholder" => 'Choose a few areas in which you would be comfortable advising companies.', 
							multiple: true 
						}
					%>
			</div>
		</div>

		<div class="attribute-card-container" data-equalizer-watch>
			<div class="container attribute-header-container">
				<div class="attribute-header-icon-container">
					<i class="ion-ios-location"></i>
				</div>
				<div class="attribute-header-description-container">
					<h5>Location</h5>
				</div>
			</div>
			<div class="attribute-card">
				<%= f.collection_select :achievement_ids, Achievement.all, :id, :description, 
					{ include_blank: true },
					{ class: 'chosen-select form-control',  
						"data-placeholder" => 'Tell us how you qualify for the Maryland Entrepreneurs Resource List.', 
						multiple: true,
						max_selected_options: 1
					}
				%>
			</div>
		</div>

		<div class="attribute-card-container" data-equalizer-watch>
			<div class="container attribute-header-container">
				<div class="attribute-header-icon-container">
					<i class="ion-compose"></i>
				</div>
				<div class="attribute-header-description-container">
					<h5>Objectives</h5>
				</div>
			</div>
			<div class="attribute-card">
				<%= f.collection_select :commitment_ids, Commitment.all, :id, :description, 
					{ include_blank: true },
					{ class: 'chosen-select form-control',  
						"data-placeholder" => 'Tell us what level of commitment you expect to be able to give in the near future.', 
						multiple: true
					}
				%>
			</div>
		</div>
	</div>
</div>

	<div class="action-container">
		<%= f.submit "Continue",
			{ class: 'button' }
		%>
	</div>
	<% end %>	
</div>