<% provide(:title, @profile.name) %>
<br/>
<div class="container profile-container profile-show">
	<div class="user-type-container">
		<div class="user-type-icon"><%= @profile.symbol_user_type %></div>
		<span class="user-type"><%= @profile.string_user_type %></span>
	</div>
 
	<div class="container headline-container">
		<div class="avatar-container">
			<%= image_tag(@profile.linkedin_image_url, class: 'avatar') %>
		</div>

		<div class="name-container">
			<h1><%= @profile.name %></h1>
			<h4><%= @profile.linkedin_industry %></h4>
		</div>
	</div>
</div>

<p class="purpose"><%= @profile.purpose %></p>

<div class="container profile-row-container">
	<div class="container" data-equalizer>
		<div class="attribute-card-container" data-equalizer-watch>
			<div class="container attribute-header-container">
				<div class="attribute-header-icon-container">
					<i class="ion-settings"></i>
				</div>
				<div class="attribute-header-description-container">
					<h5>Areas of Expertise</h5>
				</div>
			</div>
			<div class="attribute-card">
				<% @profile.skills.all.each do |s| %>
					<div class="attribute-row"><%= s.name %></div>
				<% end %>	
			</div>
		</div>

		<div class="attribute-card-container" data-equalizer-watch>
			<div class="container attribute-header-container">
				<div class="attribute-header-icon-container">
					<i class="ion-ribbon-b"></i>
				</div>
				<div class="attribute-header-description-container">
					<h5>Professional Achievements</h5>
				</div>
			</div>
			<div class="attribute-card">
				<% @profile.achievements.all.each do |a| %>
					<div class="attribute-row"><%= a.description %></div>
				<% end %>	
			</div>
		</div>

		<div class="attribute-card-container" data-equalizer-watch>
			<div class="container attribute-header-container">
				<div class="attribute-header-icon-container">
					<i class="ion-connection-bars"></i>
				</div>
				<div class="attribute-header-description-container">
					<h5>Level of Commitment</h5>
				</div>
			</div>
			<div class="attribute-card">
				<% @profile.commitments.all.each do |c| %>
					<div class="attribute-row"><%= c.description %></div>
				<% end %>	
			</div>
		</div>
	</div>
</div>

<div class="container profile-row-container">
	<div class="container" data-equalizer>
		<div class="attribute-card-container" data-equalizer-watch>
			<div class="container attribute-header-container">
				<div class="attribute-header-icon-container">
					<i class="ion-briefcase"></i>
				</div>
				<div class="attribute-header-description-container">
					<h5>Employment</h5>
				</div>
			</div>
			<div class="attribute-card">
				<% @profile.positions.first(3).each do |p| %>
					<div class="attribute-row"><%= p.title %><br/><span><%= p.name %></span></div>
				<% end %>	
			</div>
		</div>

		<div class="attribute-card-container" data-equalizer-watch>
			<div class="container attribute-header-container">
				<div class="attribute-header-icon-container">
					<i class="ion-ios-location"></i>
				</div>
				<div class="attribute-header-description-container">
					<h5>Location</h5>
				</div>
			</div>
			<div class="attribute-card">
				<% @profile.achievements.all.each do |a| %>
					<div class="attribute-row">Baltimore City<br/><span>Maryland</span></div>
				<% end %>	
			</div>
		</div>

		<div class="attribute-card-container" data-equalizer-watch>
			<div class="container attribute-header-container">
				<div class="attribute-header-icon-container">
					<i class="ion-university"></i>
				</div>
				<div class="attribute-header-description-container">
					<h5>Education</h5>
				</div>
			</div>
			<div class="attribute-card">
				<% @profile.educations.first(3).each do |e| %>
					<div class="attribute-row"><%= e.field_of_study %><br/><span><%= e.school_name %></span></div>
				<% end %>	
			</div>
		</div>
	</div>
</div>


<div class="footer">
	<%= image_tag("TEDCO-grey.png") %>
	<p>MERL is powered by TEDCO</p>
</div>