<% provide(:title, @profile.name) %>
<div class="row">
	<div class="small-12 large-centered columns">
		<div class="large-2 columns text-center">
			<%= image_tag(@profile.linkedin_image_url, class: 'profile-picture') %>
		</div>
		<div class="push-1 large-9 columns">
			<h2><%= @profile.name %></h2>
			<h4><%= @profile.headline %></h4>
			<h4><%= @profile.industry %></h4>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-12 large-centered columns">
		<div class="large-6 columns">
			<div class="row">
				<% @profile.positions.each do |p| %>
				<div class="large-2 columns">
					<img src="<%= p.company_square_logo_url %>">
				</div>
				<div class="large-10 columns">
					<h5><%= p.name %></h5>
					<h5><%= p.title %></h5>
					<p><%= p.summary %></p>
				</div>
				<% end %>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="row">
				<% @profile.educations.each do |e| %>
				<div class="large-2 columns">
					<img src="<%=  %>">
				</div>
				<div class="large-10 columns">
					<h5><%= e.school_name %></h5>
					<h5><%= e.degree %></h5>
					<p><%= e.field_of_study %></p>
				</div>
				<% end %>
			</div>
		</div>
		<div class="large-6 columns">

		</div>
	</div>
</div>