<% provide(:title, @profile.name) %>
<br/>
<div class="container profile-container profile-show">
	<div class="user-type-container">
		<div class="user-type-icon"><%= @user.symbol_user_type %></div>
		<span class="user-type"><%= @user.string_user_type %></span>
	</div>
 
	<div class="container headline-container">
		<div class="avatar-container">
			<%= image_tag(@user.linkedin_image_url, class: 'avatar') %>
		</div>

		<div class="name-container">
			<h1><%= @user.name %></h1>
			<h4><%= @user.linkedin_industry %></h4>
		</div>
	</div>

	<div class="container">
		<div class="attribute-container">
			<%= @profile.purpose %>
		</div>
	</div>
</div>

<div class="container profile-row-container">
	<div class="container" data-equalizer>
		<div class="attribute-card-container" data-equalizer-watch>
			<div class="attribute-card">
				<i class="ion-settings"></i>
				<h5>Expertise</h5>

				<% @user.skills.all.each_with_index do |s, i| %>
					<span><%= s.name %></span><%= " · " unless i == @user.skills.size - 1 %>
				<% end %>	
			</div>
		</div>

		<div class="attribute-card-container" data-equalizer-watch>
			<div class="attribute-card">
				<i class="ion-ribbon-b"></i>
				<h5>Achievements</h5>

				<% @user.achievements.all.each_with_index do |a, i| %>
					<span><%= a.description %></span><%= " · " unless i == @user.achievements.size - 1 %>
				<% end %>	
			</div>
		</div>

		<div class="attribute-card-container" data-equalizer-watch>
			<div class="attribute-card">
				<i class="ion-connection-bars"></i>
				<h5>Commitment</h5>

				<% @user.commitments.all.each_with_index do |c, i| %>
					<span><%= c.description %></span><%= " · " unless i == @user.commitments.size - 1 %>
				<% end %>	
			</div>
		</div>
	</div>
</div>







<!-- <div class="row">
	<div class="small-12 large-centered columns">
		<div class="large-2 columns text-center">
			<%= image_tag(@profile.linkedin_image_url, class: 'profile-picture') %>
		</div>
		<div class="push-1 large-9 columns">
			<h2><%= @profile.name %></h2>
			<h4><%= @profile.headline %></h4>
			<h4><%= @profile.industry %></h4>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-12 large-centered columns">
		<div class="large-6 columns">
			<div class="row">
				<% @profile.positions.each do |p| %>
				<div class="large-2 columns">
					<img src="<%= p.company_square_logo_url %>">
				</div>
				<div class="large-10 columns">
					<h5><%= p.name %></h5>
					<h5><%= p.title %></h5>
					<p><%= p.summary %></p>
				</div>
				<% end %>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="row">
				<% @profile.educations.each do |e| %>
				<div class="large-2 columns">
					<img src="<%=  %>">
				</div>
				<div class="large-10 columns">
					<h5><%= e.school_name %></h5>
					<h5><%= e.degree %></h5>
					<p><%= e.field_of_study %></p>
				</div>
				<% end %>
			</div>
		</div>
		<div class="large-6 columns">

		</div>
	</div>
</div> -->