<nav class="tab-bar <%= 'white' unless current_page?(root_path) %>">
  <section class="left-small">
    <a class="left-off-canvas-toggle" href="#"><i class="ion-navicon-round"></i><span>Menu</span></a>
  </section>

  <section class="right-small">
    <a class="" href="#"><span>Search</span><i class="ion-search"></i></a>
  </section>
</nav>

<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <% if signed_in? %>
      <li class="profile"><%= link_to current_user do %>
        <%= image_tag(current_user.linkedin_image_url) %><span><%= current_user.first_name %></span>
       <% end %> 
      </li>
      <li class=<%= 'active' if current_page?(user_path(current_user)) %>>
        <%= link_to current_user do %>
          <i class="ion-gear-a"></i><span>Profile</span>
        <% end %></li>
      <li><a href=""><i class="ion-email"></i><span>Messages</span></a></li>
      <li><a href=""><i class="ion-search"></i><span>Search</span></a></li>
      <li><a href=""><i class="ion-information"></i><span>Tutorial</span></a></li>
      <li><a href=""><i class="ion-paper-airplane"></i><span>Logout</span></a></li>
    <% end %> 
    <% unless signed_in? %>
    	<li><a href=""><span>Login</span><i class="ion-paper-airplane"></i></a></li>
    <% end %>
  </ul>
</aside>